<h1>Editing Article</h1>
<p>If the eddited article were already tweeted, the tweet will be destroyed.</p>
<p>&#12418;&#12375;&#32232;&#38598;&#12375;&#12383;&#35352;&#20107;
&#12364;&#12377;&#12391;&#12395;&#12484;&#12452;&#12540;&#12488;&#12373;
&#12428;&#12390;&#12356;&#12383;&#22580;&#21512;&#12289;&#12484;&#12452;
&#12540;&#12488;&#12399;&#21066;&#38500;&#12373;&#12428;&#12414;&#12377;&#12290;</p>

<%= render 'form', article: @article %>
<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>
