<h1>Editing Article</h1>
<p>If the eddited article were already tweeted, the tweet will be destroyed.</p>
<p>Moshi henshu sita kiji ga sude ni tweet sareteita baai, tweet wa sakujo saremasu.</p>

<%= render 'form', article: @article %>
<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>
