<h1>New Article</h1>
<%= render 'form', article: @article %>
<hr>
<button type="submit" class="btn btn-primary"><%= link_to 'tweet', post_articles_path %></button>
<%= link_to 'Back', articles_path %>
