<h1>Memo</h1>
<p>Help me I can't understand at all!<br>database wo jikkoukankyo to test kankyou to de kaetanoga warukattanoka<br>teka nihonngo utenaitte doyukoto</p><br>
<p>LANG no kankyohensu ha <%=ENV['LANG'] %> dayo.</p>

<p><strong>heroku ran rails db:migrate</strong> wo wasureteta datedeshita... tohoho ;(</p>
<%= link_to 'modoru', root_path %>
