<h1>Memo#index</h1>
<p>Find me in app/views/memo/index.html.erb</p>
<p>Help me I can't understand at all!<br>database wo jikkoukankyo to test kankyou to de kaetanoga warukattanoka<br>teka nihonngo utenaitte doyukoto</p><br>
<p>LANG no kankyohensu ha <%=ENV['LANG'] %> dayo.</p>
<%= link_to 'modoru', root_path %>
